.main{
    background: rgb(39,76,119);
    background: linear-gradient(180deg, rgba(39,76,119,1) 16%, rgba(129,154,177,1) 52%, rgba(231,236,239,1) 100%);
    padding-top: 50px;
    display: flex;
    flex-flow: column wrap;
    
}
.container{
    margin: 20px auto 0px auto;
    width: 75%;
    border-radius: 7px;
}
.container img{
    display: inline-block;
    width: 45%;
    border-radius: 5px;
    margin:25px 50px 25px 75px;
}
.tt{
    width: 35%;
    display: inline-block;
    float: right;
    margin:25px 0px 25px 25px;
}
.tt h2{
    font-size: 28px;
    color: blanchedalmond;
    float: right;
    margin: 5px 20px 10px 25px;
}
.tt p{
    display: block;
    color:#80b3ee ;
    float: right;
    margin: 5px 15px 0px 0px;
    font-size: 20px;
}